body {
    background-color: $color-bg;
    font-family: Vazir;
    font-weight: normal;
}

ul, ol{
	padding: 0;
	direction: rtl;
}

p{
	direction: rtl;
}

span{
	direction: rtl;
}

.c-profile{
	padding: 25px 0;
}

.c-profile__name{
	font-size: 1.6rem;
	font-weight: bold;
}

.c-profile__avatar{
	border: 3px solid white;
}

.c-portfolio__image{
	max-height: 200px;
	overflow: hidden;
}

.o-collection{
	border: none;
}

.o-collectionItem:after{
	content: " ";
	clear: both;
	display: table;
}

.o-collectionImage{
	width: 150px;
	height: 150px;
	margin: 10px;
}

.o-collectionValignWrapper{
	height: 170px;
	position: relative;
	padding-right: 170px;
}

.o-collectionValignBox{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.o-title{
	font-size: 1.4rem;
	font-weight: bold;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}